{% extends "base.html" %}
{% block sectiontitle %}Reports and Newsletters{% endblock %}
{% block content %}
{% load static %}

<section class="container">
    <div class="row section">

      {% if files %}
        {% for item in files %}
        <div class="col-md-4 col-xxl-3 p-3">
          <div class="card">
            <div class="type">
              <button class="btn btn-secondary shadow-none" onclick="RedirectTo('#')">{{item.file_type}}</button>
            </div>
            {% if item.file_type == 'Report' %}
            <img src="{% static 'files-page/images/report.jpg' %}" class="card-img-top" alt="...">
            {% elif item.file_type == 'Newsletter' %}
            <img src="{% static 'files-page/images/newsletter.jpg' %}" class="card-img-top" alt="...">
            {% else %}
            <img src="{% static 'files-page/images/other.jpg' %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <div style="max-height: 85px; overflow: auto;">
                <p class="card-text">
                  {{item.message}}
                </p>
              </div>
              <button class="btn btn-primary shadow-none mt-3" style="width: 100%;" type="button" onclick="RedirectTo('{{item.file.url}}')">Download</button>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}

    </div>
  </section>

{% endblock %}