{% extends "base.html" %}
{% block sectiontitle %}{{ page }} Gallary{% endblock %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'fiid_india_pages/gallary/scss/style.css' %}">
{% endblock %}
{% block content %}
{% include "section_header.html" %}
    {% load static %}
    <section class="container">
        <div class="row section">
            {% if images %}
                {% for item in images %}
                    <div class="col-md-4 col-xxl-3 p-3">
                        <div class="card">
                            <img src="{{ item.image.url }}" class="card-img-top" alt="...">
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}
