{% load static %}
<!-- Footer -->
<footer class="py-3 bg-dark">
    <ul class="nav justify-content-center mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-3 text-light">About</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-3 text-light">Programmes</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-3 text-light">Objectives</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-3 text-light">Newsletter</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-3 text-light">Contact</a></li>
    </ul>
    <div class="container">
      <hr style="color: #ffff;">
    </div>
    <p class="text-center text-light">&copy; 2021 Company, Inc</p>
</footer>