$base-color: #A63BA2;
$base-hover-color:#901E78;

/* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */
  .navbar-brand{
    margin-left: 40px;
    padding: 0;
    img{
      width: 140px;
      padding: 0;
    }
  }
  
  .navbar-nav{
    margin: 0 40px;
  }
  
  .navbar-light{
    background: rgb(255, 255, 255) !important;
    .navbar-nav .nav-link {
      color: rgba(0,0,0,.55);
      cursor: pointer;
      padding: 0 40px;
      font-weight: 450;
      &:hover{
        color: $base-color;
      }
    }
  }
  
  @media screen and (max-width: 991px){
    .navbar-brand{
      margin-left: 0;
      padding: 0;
    }
      
    .navbar-nav{
      margin: 0;
      text-align: center;
    }
      
    .navbar-light .navbar-nav
     .nav-link {
      color: rgba(0,0,0,.55);
      padding: 21px 0;
    }
  }